{% extends 'base.html' %}

{% block content %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <h2>Title: {{ note.title }}</h2>
                <p>{{ note.text|linebreaksbr }}</p>
                <div class="date">
                    <p>Created: {{ note.created_date }}</p>
                    <p>Last Modified: {{ note.modified_date }}</p>
                </div>
                <h2>
                    <a href="{% url 'note_list' %}"><span class="glyphicon glyphicon-arrow-left"></span></a>
                </h2>
            </div>
        </div>
    </div>
{% endblock %}