{% extends 'base.html' %}

{% block content %}
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <h2>Delete note</h2>
                <hr>
                <br>
                <form method="POST" class="note-form">{% csrf_token %}
                    <h4>Are you sure you want to delete note "{{ note.title }}"?</h4>
                    <br>
                    <button type="submit" class="button button1">Delete</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}